/* - variables- */
:root {
  --main-color: #006ec7;
}
/* - #user-nav - */
a {color: #495967;}
#user-nav {
  padding-top: 25px;
}
#page-links {
  display: inline-block;
}
#page-links a {
  display: inline-block;
  padding: 5px 10px 5px 0;
  font-size: 14px;
}
button#accountDropdown {
  padding: 5px 10px 5px 0;
}
/* - button/icon text - */
.spinner, .btn-link, .btn-link:hover, .nav>li>a:hover, #page-links a:hover, .nav-tabs>li.active>a .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .product-tile .product-footer, .Analytics__Stats .Analytics__Statistic.active a, a.ember-view.admin-product-table__product-link:hover {
  color: var(--main-color);
}
/* - button/icon background - */
.btn-info, .feature-region, .Icon__CircleWrap--info, .product-flag.product-flag-free, .ProductIcon__LargeCircle--course, .ProductIcon__SmallCircle--course {
  background: var(--main-color);
}
/* - button :hover - */
.btn-info:hover, .btn-info:focus, .ProductIcon__LargeCircle--course:focus {
  background: var(--main-color);
  filter: brightness(85%);
}
.product-results .product-tile:hover {
  box-shadow: inset 0px -5px 0px var(--main-color);
}
/* - feature-search - */
.feature-region {
  background-image: inherit;
}
#search-form .search-form-container {
  background-color: #fff;
}