/* - This stylizes the injected links within the #user-nav element, and updates various icon colors - */
/* - Default Element Styles - */
a {
  color: #495967;
}

/* - #user-nav Styles - */
#user-nav {
  padding-top: 25px;
}
#page-links {
  display: inline-block;
}
#page-links a {
  display: inline-block;
  padding: 5px 10px 5px 0;
  font-size: 14px;
}
#page-links .piped-list>li:after {
  content: "|";
}
#page-links .piped-list>li:before {
  display: none;
  margin-right: 0;
}
button#accountDropdown {
  padding: 5px 10px 5px 0;
}

/* - Button/Icon Color Branding Text - */
.spinner,
.btn-link,
.btn-link:hover,
.nav>li>a:hover,
#page-links a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.product-tile .product-footer,
.Analytics__Stats .Analytics__Statistic.active a,
a.ember-view.admin-product-table__product-link:hover {
  color: #006ec7;
}

/* - Button/Icon Color Branding Background - */
.btn-info,
.feature-region,
.Icon__CircleWrap--info,
.product-flag.product-flag-free,
.ProductIcon__LargeCircle--course,
.ProductIcon__SmallCircle--course {
  background: #006ec7;
}

/* - Button/Icon Color :hover - */
.btn-info:hover,
.btn-info:focus,
.ProductIcon__LargeCircle--course:focus {
  background: #153A86;
}
.product-results .product-tile:hover {
  box-shadow: inset 0px -5px 0px #006ec7;
}

/* - Feature Region/Search Bar - */
.feature-region {
  background-image: inherit;
}
#search-form .search-form-container {
  background-color: #fff;
}